<ion-header>
  <ion-navbar>
    <ion-title>
      {{'Guide' | trans}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides [options] = 'options'>
  <ion-slide *ngIf='!fm.selfTeamId'>
    <h1>{{'Youneedateam' | trans}}</h1>
    <button (click) = "joinTeam()">{{'JoinTeam' | trans}}</button>
  </ion-slide>
  <ion-slide *ngIf='needNumber'>
    <h1 danger>{{'Needtofillnumber' | trans}}</h1>
    <ion-item *ngFor="let team of teams">
      <ion-label>{{ (team.$key | teamBasicPipe | async)?.name }}</ion-label>
      <ion-input text-right type="number" [ngModel]="team.$value" (ngModelChange)="team.$value=$event">
      </ion-input>
    </ion-item>
    <button (click)="UpdateNumber()">{{'Update' | trans}}</button>
  </ion-slide>
  <ion-slide>
    <h1>{{'Welcometobrotherhood' | trans}}</h1>
    <button (click) = "close()">{{'Done' | trans}}</button>
  </ion-slide>
</ion-slides>
</ion-content>