<ion-header>
  <ion-navbar>
    <ion-title>{{'FriendlyMatches' | trans}}</ion-title>
    <ion-buttons end>
      <button *ngIf="(afWhitelist | async)?.$value" (click)="export()">
        <ion-icon name="calculator"></ion-icon>
      </button>
      <button *ngIf="(currTeamId | teamBasicPipe | async)?.captain === pId" (click)="showScheduleMatchModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <matches-content></matches-content>
</ion-content>
