.matches-date-tab-col {
  .input-wrapper:active {
    border: solid 1px #8ed058;
    background: #a9db80;
  }
  .date-tab-list {
    ion-item {
      padding-left: 0;
      .item-inner {
        padding-right: 0;
        ion-label {
          //font-size: 0.4em;
          margin: 0 auto;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.matches-match-info-col {
  .item {
    padding-left: 0;
  }
  .item-inner {
    padding-right: 0;
  }
  ion-label {
    margin-right: 0.3em;
    margin-left: 0.3em;
    margin: 0;
  }
  .matches-time {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    .matches-time-wrapper {
      .item {
        min-height: 2.2em;
        //font-size: 0.345em;
      }
      .item-inner {
        border-bottom: none;
      }
      ion-label {
        margin: 0;
        text-align: center;
      }
    }
  }
  .matches-info {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    //font-size: 0.345em;
    .team-bar {
      padding-left: 0.5em;
      /*
      ion-img {
        max-width: 1.5em;
        max-height: 1.5em;
        border-radius: 50%;
      }
      */
      ion-avatar[item-left] {
        border-radius: 0;
        //margin: 0;
        //min-height: 1.8em;
        //min-width: 1.8em;
      }
      .team-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        //font-size: 0.345em;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
      }
      .team-score {
        //font-size: 0.345em;
        line-height: 1;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 15%;
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
        max-width: 15%;
      }
      .item-inner {
        border-bottom: none;
      }
      .item {
        min-height: 2em;
      }
    }
  }
}

.no-scroll {
  overflow-y: hidden;
}

.scroll {
  overflow-y: scroll;
}

.left-scrollview {
  width: 20%;
  height: 100%;
  overflow: scroll;
}

.right-scrollview {
  display: inline-block;
  width: 80%;
  left: 20%;
  overflow: scroll;
  top: 0;
  position: absolute;
}
