.chat-room {
  background-color: #EBEBEB;
}

.chat-room-item ion-label{
  white-space: normal;
  margin: 2px 0px 2px 0 !important;
}
.chat-room-item{
  padding-left: 2% !important;
  padding-right: 2% !important;
  background-color: transparent;
}
.chat-room-item .item-inner{
  padding-right: 0 !important;
}

.chat-room-avatar-div ion-avatar[item-left], ion-thumbnail[item-left] {
  margin: 3px 3px 3px 0px;
}
.chat-room-avatar-div ion-avatar[item-right], ion-thumbnail[item-right]{
  margin: 3px 0px 3px 3px;
}

//start
.chat-room-avatar{

}

.chat-room-avatar-div-left{

}

.chat-room-avatar-div-right{

}

$break-verysmall: 252px;
$break-small: 296px;
$break-medium: 380px;
$break-plus:480px;

.chat-room-person-info{
  //float:left;
  min-width:55px;
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;

  @media screen and (min-width: $break-plus){
    max-width: 80%;
  }
  @media screen and (min-width: $break-medium) and (max-width: $break-plus){
    max-width: 80%;
  }
  @media screen and (min-width: $break-small) and (max-width: $break-medium){
      max-width: 75%;
  }
  @media screen and (min-width: $break-verysmall) and (max-width: $break-small){
    max-width: 70%;
  }
  @media screen and (min-width: 0px) and (max-width: $break-verysmall){
      max-width: 60%;
  }
}

.chat-room-person-info-right{


}

.f-left{
  float: left;
}
.f-right{
  float: right;
}

.chat-room-time-label{
  display: inline-block;
  background: #D3D3D3;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
  color: white;
  font-size: 0.7em;
}

.chat-room-person-bubble{
  font-size: 0.9em;
  //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  //min-width: 55px;
  position: relative;
  background: white;
  border-radius: 5px;
}

.bubble-left{
  margin: 3px 0px 8px 0px;
  padding: 10px 10px 10px 10px;
}

//.bubble-left:after{
//  content: '';
//  position: absolute;
//  border-style: solid;
//  border-width: 8px 8px 8px 0;
//  border-color: rgba(56, 126, 245, 0) white;
//  display: block;
//  width: 0;
//  z-index: 1;
//  left: -8px;
//  top:10px;
//}

.bubble-left:after{
  background-color: #fff;
  content: "\00a0";
  display: block;
  height: 9px;
  position: absolute;
  top: 14px;
  transform: rotate(29deg) skew(-35deg);
  -moz-transform: rotate(29deg) skew(-35deg);
  -ms-transform: rotate(29deg) skew(-35deg);
  -o-transform: rotate(29deg) skew(-35deg);
  -webkit-transform: rotate(48deg) skew(0deg);
  width: 10px;
  //box-shadow: -2px 1px 1px 0 rgba(178, 178, 178, 0.4);
  left: -5px;
  z-index: 1;
}

.bubble-right{
  background-color: #9de856;
  padding: 10px 10px 10px 10px;
}

//.bubble-right:after{
//  content: '';
//  position: absolute;
//  border-style: solid;
//  border-width: 8px 0px 8px 8px;
//  border-color: rgba(56, 126, 245, 0) #9de856;
//  display: block;
//  width: 0;
//  z-index: 1;
//  right: -8px;
//  top:10px;
//}

.bubble-right:after{
  background-color: #9de856;
  content: "\00a0";
  display: block;
  height: 9px;
  position: absolute;
  top: 14px;
  transform: rotate(29deg) skew(-35deg);
  -moz-transform: rotate(29deg) skew(-35deg);
  -ms-transform: rotate(29deg) skew(-35deg);
  -o-transform: rotate(29deg) skew(-35deg);
  -webkit-transform: rotate(48deg) skew(0deg);
  width: 10px;
  //box-shadow: 1px -2px 1px 0 rgba(0, 0, 0, 0.12);
  right: -5px;
  z-index: 1;
}



.chat-room-avatar-img{
  border-radius: 0;
  //max-width: 85%;
  //max-height: 8rem;
}

.chat-room-you-p{
  text-align: right;
  font-size: 1.0rem;
  color: #666;
}


.chat-room-footer {
  background: white;
  border-top: 0.5px solid lightgray;
}

.chat-room-footer-button {
  border-radius: 3px;
  background: #19AC1D;
  color: white !important;
  font-weight: normal;
  text-transform: capitalize;
}

.chat-room-footer ion-input >.text-input{
  margin: 6px 8px 6px 8px;
  padding: 6px;
  border-bottom: 1px solid #cccccc;
}

.chat-room-footer .text-input:focus{
  outline: none;
  border-bottom: 1px solid #9de856;
}

/*
.chat-room-footer ion-input{

  @media screen and (min-width: $break-plus){
    max-width: 85%;
  }
  @media screen and (min-width: $break-medium) and (max-width: $break-plus){
    max-width: 83%;
  }
  @media screen and (min-width: $break-small) and (max-width: $break-medium){
    max-width: 82%;
  }
  @media screen and (min-width: $break-verysmall) and (max-width: $break-small){
    max-width: 80%;
  }
  @media screen and (min-width: 0px) and (max-width: $break-verysmall){
    max-width: 80%;
  }
}
.chat-room-footer ion-input >.text-input{
  margin: 6px 8px 6px 8px;
  padding: 6px;
  border-bottom: 1px solid #cccccc;
}

.chat-room-footer .text-input:focus{
  outline: none;
  border-bottom: 1px solid #9de856;
}

.chat-room-footer-send-btn{
  position: absolute;
  right: 0;
  top: 0;
  max-width: 15%;
  margin: 0.2rem;
}
*/

.bubble{
  background-color: white;
  border-radius: 5px;
  //box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  float: left;
  position: relative;
  vertical-align: top;

}

.bubble::before {
  background-color: white;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:             rotate( 29deg ) skew( -35deg );
  -moz-transform:    rotate( 29deg ) skew( -35deg );
  -ms-transform:     rotate( 29deg ) skew( -35deg );
  -o-transform:      rotate( 29deg ) skew( -35deg );
  -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}

.me {
  float: left;
  margin: 5px 45px 5px 20px;
}

.me::before {
  //box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
}



