<ion-header>
  <ion-navbar>
    <ion-title>STK Soccer</ion-title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </ion-navbar>
</ion-header>

<ion-content class="chat-room">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines>
    <ion-item class="chat-room-item" style="text-align:center">
      <label class="chat-room-time-label">13:30</label>
    </ion-item>
    <ion-item class="chat-room-item">
      <div class="chat-room-avatar-div f-right">
        <ion-avatar class="chat-room-avatar" item-right>
          <img class="chat-room-avatar-img" src="img/test_avatar.jpg">
        </ion-avatar>
      </div>
      <div class="chat-room-person-info f-right chat-room-person-info-right">
        <!--<p class="chat-room-person-name">Jixiang Li</p>-->
        <div class="chat-room-person-bubble bubble-right">
          !
        </div>
      </div>
    </ion-item>

    <div *ngFor="let item of items | async; trackBy:trackByKey">
      <!-->
      <*ngIf="showTime(item)">
      <ion-item class="chat-room-item" style="text-align:center">
        <label class="chat-room-time-label">{{getTime(item)}}</label>
      </ion-item>
      <-->

      <ion-item class="chat-room-item">
        <div class="chat-room-avatar-div f-left">
          <ion-avatar class="chat-room-avatar" item-left>
            <img class="chat-room-avatar-img" src="img/test_avatar.jpg">
          </ion-avatar>
        </div>
        <div class="chat-room-person-info f-left">
            <p class="chat-room-person-name">{{item.created_by}}</p>
            <div class="chat-room-person-bubble bubble-left">
              {{item.content}}
            </div>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<!--
<ion-footer style="background:white;" class="item-input-inset">
  <ion-input type="text"></ion-input>
  <button>Send</button>
</ion-footer>
-->

<ion-footer class="chat-room-footer">
  <ion-input class="chat-room-footer-input" type="text" [(ngModel)]="newMessage"></ion-input>
  <button secondary class="chat-room-footer-send-btn" *ngIf="newMessage != ''" (click)="sendMessage()">Send</button>
</ion-footer>
