.chat-room {
}
ion-label{
  white-space: normal;
}

ion-item{
  overflow: visible;
}
.chat-room-avatar{

}

.chat-room-avatar-div{
  float: left;
}

$break-verysmall: 252px;
$break-small: 296px;
$break-medium: 380px;
$break-plus:480px;

.chat-room-person-info{
  float:left;
  min-width:55px;
  padding: 8px;
  @media screen and (min-width: $break-plus){
    max-width: 80%;
  }
  @media screen and (min-width: $break-medium) and (max-width: $break-plus){
    max-width: 80%;
  }
  @media screen and (min-width: $break-small) and (max-width: $break-medium){
      max-width: 75%;
  }
  @media screen and (min-width: $break-verysmall) and (max-width: $break-small){
    max-width: 70%;
  }
  @media screen and (min-width: 0px) and (max-width: $break-verysmall){
      max-width: 60%;
  }
}


.chat-room-person-bubble{
  margin: 8px 0px 8px 0;
  padding: 10px 10px 10px 10px;
  font-size: 0.9em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-width: 55px;
  position: relative;
  background: white;
  border-radius: 5px;
}

.chat-room-person-bubble:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: rgba(56, 126, 245, 0) #387ef5;
  display: block;
  width: 0;
  z-index: 1;
  left: -8px;
  top:2px;
}

.chat-room-avatar-img{
  border-radius: 0;
  max-width: 8rem;
  max-height: 8rem;
}

.bubble{
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  float: left;
  position: relative;
  vertical-align: top;

}

.bubble::before {
  background-color: #F2F2F2;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:             rotate( 29deg ) skew( -35deg );
  -moz-transform:    rotate( 29deg ) skew( -35deg );
  -ms-transform:     rotate( 29deg ) skew( -35deg );
  -o-transform:      rotate( 29deg ) skew( -35deg );
  -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}

.me {
  float: left;
  margin: 5px 45px 5px 20px;
}

.me::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
}

