.chat-room-time-item {
  background-color: transparent;
  text-align: center;
  label {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    background: #D3D3D3;
    color: white;
    font-size: 0.7em;
  }
}

.chat-room-msg-item {
  background-color: transparent;
  

  ion-label{
    white-space: normal;
  }
  .msg-box {
    min-width: 25px;
    max-width: 80%;
    float: left;
    font-size: 0.9em;
    border-radius: 5px;
    padding: 10px;
    -webkit-user-select: text;
  }
  .left {
    float: left;
    background: #EAEAEA;
  }
  .right {
    float: right;
    background: #9de856;
  }

}

.chat-room-footer {
  background: white;
  border-top: 0.5px solid lightgray;

  .text-input{
    margin: 6px 8px 6px 8px;
    padding: 6px;
    border-bottom: 1px solid #cccccc;
    background: white;
  }

  .text-input:focus{
    outline: none;
    border-bottom: 1px solid #9de856;
  }

  .send-button {
    border-radius: 3px;
    background: #19AC1D;
    color: white !important;
    font-weight: normal;
    text-transform: capitalize;
  }
}

.chat-room-avatar-div ion-avatar[item-left] {
  float: left;
  margin: 5px 5px 5px 0px;
}
