ion-thumbnail{
  max-width: 3rem;
  max-height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  img{
    max-width: 3rem;
    max-height: 3rem;
    margin:0;
    display: inline-block;

  }
}

.item p{
  line-height: 200%;
}

