// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";

@import "../pages/stats/stats";

@import "../pages/message/message";

@import "../pages/me/me";

@import "../pages/chat-room/chat-room";

@import "../pages/my-team/my-team";

@import "../pages/login/login";
