// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";

@import "../pages/stats/stats";

@import "../pages/message/message";

@import "../pages/notification/notification";

@import "../pages/new-match/new-match";

@import "../pages/search-team/search-team";

@import "../pages/color-picker/color-picker";

@import "../pages/me/me";

@import "../pages/chat-room/chat-room";

@import "../pages/my-team/my-team";

@import "../pages/login/login";

// 积分榜
//@import "../pages/standings/standings.scss";
