<ion-header>
  <ion-navbar>
    <ion-title>{{'EditTeam' | trans}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider light></ion-item-divider>
    <ion-item (click)="changeLogo()" >
      <h2>{{'Logo' | trans}}</h2>
      <ion-thumbnail item-right>
        <ion-img [src]="logoUrl || (afTeam | async)?.logo"></ion-img>
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-label floating>{{'TeamName' | trans}}</ion-label>
      <ion-input type="text" maxlength="32" [ngModel]="(afTeam | async)?.name" (ngModelChange)="team.name=$event">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{'Description' | trans}}</ion-label>
      <ion-textarea type="text" maxlength="128" [ngModel]="(afTeamDetails | async)?.description" (ngModelChange)="team.description=$event">
      </ion-textarea>
    </ion-item>
    <div>
      <ion-item-divider light></ion-item-divider>
      <ion-item tappable (click)="managePlayerNumber()">
        <ion-icon name="people" primary item-left></ion-icon>
        Manage Player Number
      </ion-item>
    </div>
    <div *ngIf="!newCaptain">
      <ion-item-divider light></ion-item-divider>
      <ion-item tappable (click)="searchPlayer()">
        <ion-icon name="alert" item-left danger></ion-icon>
        {{'PromoteToCaptain' | trans}}
      </ion-item>
    </div>
    <div *ngIf="newCaptain">
      <ion-list-header light>{{'Captain' | trans}}</ion-list-header>
      <ion-item *ngIf="newCaptain">
        <ion-avatar item-left>
          <ion-img [src]="(newCaptain | playerBasicPipe | async)?.photoURL"></ion-img>
        </ion-avatar>
        {{ (newCaptain | playerBasicPipe | async)?.displayName }}
      </ion-item>
    </div>
  </ion-list>

  <ion-row padding-horizontal>
    <ion-col text-center>
      <button block secondary small [disabled]="busy || !(logoData || team.logo.length || team.name.trim().length || team.description.trim().length || newCaptain)" (click)="save()">
        {{'Save' | trans}}
      </button>
    </ion-col>
    <ion-col text-center>
      <button block danger small (click)="dismiss()">{{'Cancel' | trans}}</button>
    </ion-col>
  </ion-row>

</ion-content>