/*
.fab-buttons {
  button {
    position: fixed;
  }
  .offset {
    margin-bottom: 15%;
  }
}
*/

// Floating menu
.floating-button {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #db3236;
}

.menu-buttons {
  button {
    position: fixed;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    font-size: small;
  }
  .swap {
    margin-right: 60px;
    background-color: #3cba54;
  }
  .add {
    margin-right: 110px;
    background-color: #4885ed;
  }
  .edit {
    margin-right: 160px;
    background-color: #f4c20d;
  }
}