.my-team {
}

//over ride
.item{
  padding-left: 0;
}
ion-card{
  margin: 0px 0px 0px 0px;
  width: 100%;
}
[padding], [padding] scroll-content{
  padding: 0;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}

.my-team-info{
  position:relative;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.my-team-avatar{
  position:relative;
  text-align: center;
}

.my-team-avatar{
  position:relative;
  text-align: center;
}

.my-team-avatar-img{
  margin: 0 auto;
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 3rem;
}

.my-team-info-popular{
  position: absolute;
  left: 10rem;
  top: 2rem;
}

.my-team-info-power{

  position: absolute;
  right: 10rem;
  top:2rem;
}
