$badge-font-size : 0.5rem;

.league-stats{
    ion-thumbnail{
      max-width: 3rem;
      max-height: 3rem;
      min-width: 3rem;
      min-height: 3rem;
      img{
        max-width: 3rem;
        max-height: 3rem;
        margin:0;
        display: inline-block;
      }
    }

    .item p{
      line-height: 200%;
    }


    .standings-team-img{
      max-width: 1.4rem;
      max-height: 1.4rem;
    }
}

//jixiang
.league-stats-standing{

  .badge{
    flex: 0 0 10%;
    max-width: 10%;
  }
  .data-column{
    flex: 0 0 5%;
    max-width: 5%;
  }
  .data-column-broad{
    flex: 0 0 12%;
    max-width: 12%;
  }
  .max-width-16p{
    max-width:16% !important;
  }


  label{
    font-size: 74%;
  }

  ion-col{
    display: flex;
    padding: 0;
    align-items: center;
    ion-avatar{
      align-items: center;
      //justify-content: center;
      display: flex;
     img{
       max-width: 3rem;
       max-height: 3rem;
     }
    }

    p{
      overflow: hidden;
    }
    ion-badge{
      font-size:$badge-font-size;
      padding: 1.5px 4px;
    }
  }
  p{
    margin: auto;
    margin-left: 0;
  }
  .standings-title{
    .team{
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;
    }

    ion-col{
      max-width: 8%;

      p{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
      }
    }

  }
  .item{
    ion-label{
      margin:0;
    }
  }

  .standings-stats{
    .rank{
      flex: 0 0 5%;
    }

    .team-name{
      flex: 0 0 35%;
      max-width: 35%;
    }
    ion-col {
      max-width: 8%;
    }

    p{
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
    }

    .truncate-p{
      flex: 1;
      min-width: 0;
      justify-content: flex-start;
      label{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-height-0{
  line-height: 0;
}



//tianyi
.league-stats-goals-panel{

  .goals-title{
  padding: 0;
  .item-inner{
    padding: 0;
    ion-label{
      margin: 0;
      .first-row{
        background-color: rgba(245, 245, 245, 0.2);
        margin:0;
      }
    }
  }
  }
}


