<ion-header>
	<ion-navbar>
		<ion-title>League Statistics</ion-title>
		<ion-buttons end>
			<button (click)="compute()">
        <ion-icon name="calculator"></ion-icon>
      </button>
			<button (click)="addTournamentMatch()">
        <ion-icon name="add"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content no-padding>
	<ion-header-bar class="bar-stable">
		<ion-segment [(ngModel)]="leagueStats">
			<ion-segment-button value="standings">
				积分榜
			</ion-segment-button>
			<ion-segment-button value="goals">
				射手榜
			</ion-segment-button>
			<ion-segment-button value="fixtures">
				<!--(click)="showMatches(today.toString())"-->
				Fixtures
			</ion-segment-button>
		</ion-segment>
	</ion-header-bar>

	<div [ngSwitch]="leagueStats" class="league-stats">
		<div *ngSwitchCase="'standings'" class="league-stats-standing">
			<ion-item>
				<ion-row class="standings-title">
					<ion-col class="team">
						<p text-left><label>Team</label></p>
					</ion-col>
					<ion-col>
						<p text-center><label>GP</label></p>
					</ion-col>
					<ion-col>
						<p text-center><label>W</label></p>
					</ion-col>
					<ion-col>
						<p text-center><label>D</label></p>
					</ion-col>
					<ion-col>
						<p text-center><label>L</label></p>
					</ion-col>
					<ion-col class="max-width-16p">
						<p text-center><label>GF/GA</label></p>
					</ion-col>
					<ion-col>
						<p text-center><label>PTS</label></p>
					</ion-col>
				</ion-row>
			</ion-item>
			<ion-item *ngFor="let s of standings" no-margin>
				<ion-row class="standings-stats">
					<ion-col no-padding width-10 class="rank flex-center">
						<p text-left>{{s.Rank}}</p>
					</ion-col>
					<ion-col no-padding width-20 class="team-name flex-center">
						<ion-row>
							<ion-thumbnail class="flex-center">
								<img class="standings-team-img" src="img/test_team.jpg">
							</ion-thumbnail>
							<p text-left class="truncate-p"><label>{{s.Team}}</label></p>
						</ion-row>
					</ion-col>
					<ion-col>
						<p text-center><label>{{s.GP}}</label></p>
					</ion-col>
					<ion-col>
						<p text-center><label>{{s.W}}</label></p>
					</ion-col>
					<ion-col>
						<p text-center><label>{{s.D}}</label></p>
					</ion-col>
					<ion-col>
						<p text-center><label>{{s.L}}</label></p>
					</ion-col>
					<ion-col class="max-width-16p">
						<p text-center><label>{{s.GF}}/{{s.GA}}</label></p>
					</ion-col>
					<ion-col>
						<p text-center><label>{{s.PTS}}</label></p>
					</ion-col>
				</ion-row>
			</ion-item>
		</div>

		<!--
  Goals rank page by Tianyi
  -->
		<div *ngSwitchCase="'goals'" class="league-stats-goals-panel">
			<ion-item class="goals-title">
				<ion-row class="first-row">
					<ion-col  width-33>
						<p text-center><label>球员</label></p>
					</ion-col>
					<ion-col width-33>
						<p text-center><label>球队</label></p>
					</ion-col>
					<ion-col width-33>
						<p text-center><label>进球</label></p>
					</ion-col>
				</ion-row>
			</ion-item>

			<ion-item *ngFor="let g of goals" class="goals-title">
				<ion-row class="first-row">
					<ion-col no-padding width-33 class="rank flex-center">
						<p text-left>{{g.Name}}</p>
					</ion-col>
					<ion-col no-padding width-33 class="team-name flex-center">
						<ion-row class="first-row">
							<ion-thumbnail class="flex-center">
								<img class="standings-team-img" src="img/test_team.jpg">
							</ion-thumbnail>
							<p text-left class="truncate-p"><label>{{g.Team}}</label></p>
						</ion-row>
					</ion-col>
					<ion-col width-33>
						<p text-center><label>{{g.Goals}}</label></p>
					</ion-col>
				</ion-row>
			</ion-item>

		</div>

		<div *ngSwitchCase="'fixtures'">
			<ion-grid>
				<ion-row>
					<ion-col width-20 class="matches-date-tab-col">
						<ion-list class="date-tab-list">
							<ion-item *ngFor="let date of dates;let i = index;" (click)="showMatches(date.$key,i)" [style.background]="getDateTabBGColor(date)">
								{{date.$key | stringToDatePipe}}
							</ion-item>
						</ion-list>
					</ion-col>
					<ion-col width-80 class="matches-match-info-col">
						<ion-item *ngFor="let match of afMatches | async" (click)="popupUpdateSchedulePage(match.$key)">
							<ion-grid>
								<ion-row>
									<ion-col class="matches-time">
										{{match.time | numberToTimePipe}}
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col class="matches-info" no-padding>
										<ion-item class="team-bar">
											<ion-avatar item-left>
												<ion-img [src]="(match.homeId | teamBasicPipe | async)?.logo"></ion-img>
											</ion-avatar>
											<ion-grid>
												<ion-row>
													<ion-col class="team-name">
														{{(match.homeId | teamBasicPipe | async)?.name}}
													</ion-col>
													<ion-col width-10 class="team-score">
														{{match.homeScore}}
													</ion-col>
												</ion-row>
											</ion-grid>
										</ion-item>
										<ion-item class="team-bar">
											<ion-avatar item-left>
												<ion-img [src]="(match.awayId | teamBasicPipe | async)?.logo"></ion-img>
											</ion-avatar>
											<ion-grid>
												<ion-row>
													<ion-col class="team-name">
														{{(match.awayId | teamBasicPipe | async)?.name}}
													</ion-col>
													<ion-col width-20 class="team-score">
														{{match.awayScore}}
													</ion-col>
												</ion-row>
											</ion-grid>
										</ion-item>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>
			<!--<my-matches-page></my-matches-page>-->
			<ion-item *ngFor="let match of afMatches | async">
				{{match.date}}
			</ion-item>
		</div>
	</div>

</ion-content>