<ion-header>
  <ion-navbar>
    <ion-segment [(ngModel)]="message">
      <ion-segment-button value="chats">
        Chats
        <ion-badge secondary>10</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="notifications">
        Notifications
        <ion-badge danger>1</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="message">
    <ion-list *ngSwitchCase="'chats'">
      <ion-list-header>Team</ion-list-header>
      <ion-item (click)="enterChatRoom()">
        <ion-icon name="ionic" item-left></ion-icon>
        STK Soccer
        <ion-badge item-right secondary>3</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="ionic" item-left></ion-icon>
        EP Sport
        <ion-badge item-right secondary>7</ion-badge>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'notifications'">
      <!--ion-item *ngFor="let item of items | async; trackBy:trackByKey;"-->
      <ion-item *ngFor="let n of notifications">
        <b>{{n.content}}</b>
        <ion-note item-right>3:43 pm</ion-note>
      </ion-item>
      <ion-item>
        old message
        <ion-note item-right>Yesterday</ion-note>
      </ion-item>
      <ion-item>
        old message
        <ion-note item-right>2016-6-21</ion-note>
      </ion-item>
    </ion-list>
    
  </div>
  <button (click)="test()">test notification</button>
</ion-content>
