<ion-header>
  <ion-navbar>
    <ion-segment [(ngModel)]="message">
      <ion-segment-button value="chats">
        Chats
        <ion-badge secondary>10</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="notifications">
        Notifications
        <ion-badge danger *ngIf="unReadCount > 0">{{unReadCount}}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="message">
    <ion-list *ngSwitchCase="'chats'">
      <ion-list-header>Team</ion-list-header>
      <ion-item (click)="enterChatRoom()">
        <ion-icon name="ionic" item-left></ion-icon>
        STK Soccer
        <ion-badge item-right secondary>3</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="ionic" item-left></ion-icon>
        EP Sport
        <ion-badge item-right secondary>7</ion-badge>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'notifications'">
      <ion-list-header>
        Upcoming Matches
      </ion-list-header>
      <ion-item *ngFor="let m of matches" (click)="showNotification(m.$key)">
        <ion-avatar item-left>
          <img src="{{m.opponent_logo}}">
        </ion-avatar>
        <h2>
          {{m.opponent_name}}
          <ion-badge *ngIf="!m.isRead">new</ion-badge>
        </h2>
        <p>{{m.location}}</p>
        <ion-note item-right>{{getTime(m.time)}}</ion-note>
        <!-->
        <div [style.font-weight]="n.isRead ? 'normal' : 'bold'">{{n.title}}</div>
        <ion-note item-right>{{getTime(n.timestamp)}}</ion-note>
        <-->
      </ion-item>
    </ion-list>
    
  </div>
  <button (click)="test()">test notification</button>
</ion-content>
