.team-logo-img {
  margin: auto;
  margin-bottom: 5px;
}

div.avatar-top {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  ion-img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    margin: auto;
  }
}

.red-card {
  color: red;
}

.yellow-card {
  color: gold;
}


//jix
.match-result-team-info{
  .home-team-item{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  .away-team-item{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }

  .center-info-item{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  p{
    font-size: 0.4rem;
    white-space: normal;
  }

}
