.team-logo-img {
  margin: auto;
  margin-bottom: 5px;
}

div.avatar-top {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  ion-img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    margin: auto;
  }
}
