<ion-header>
  <ion-navbar>
    <ion-title>
      Rate your match
    </ion-title>
    <ion-buttons end>
      <button (click)="cancel()"> 
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <h6>
      {{ ((matchBasic | async)?.homeId | teamBasicPipe | async)?.name }} 
      <span danger>vs</span> 
      {{ ((matchBasic | async)?.awayId | teamBasicPipe | async)?.name}}
    </h6>
    <p>{{ (matchBasic | async)?.time | momentPipe}}</p>
  </div>

  <!-- rate match -->
  <ion-list no-lines>
    <ion-item primary>Referee</ion-item>
    <ion-item>
      <h2 text-center>{{ (matchBasic | async)?.refereeName }}</h2>
      <p text-center *ngIf="rating > 0">{{ rating | ratingDescPipe }}</p>
      <p text-center no-padding>
        <button *ngFor="let i of starArray" ion-button icon-only clear class="disable-hover" 
                [ngStyle]="getStarColorStyle(i)"
                (click)="setRating(i)">
          <ion-icon name="star"></ion-icon>
        </button>
      </p>
    </ion-item>

    <ion-item text-wrap *ngIf="rating > 0">
      <p text-center>{{ rating | ratingHeaderPipe }}</p>
      <button ion-button *ngFor="let fb of fbTags; let i=index;" 
              [color]="fb.value ? 'dark' : 'light'" (click)="selectFb(i)">
        {{ fb.key | ratingTagPipe: rating }}
      </button>
    </ion-item>
  </ion-list>

  <!-- chose mvp -->
  <ion-list no-lines *ngIf="(candidates | async)?.length">
    <ion-item primary>MVP</ion-item>
    <ion-item *ngFor="let p of (candidates | async)" (click)="setMVP(p.$key)">
      <ion-avatar item-left>
        <ion-img [src]="(p.$key | playerBasicPipe | async)?.photoURL"></ion-img>
      </ion-avatar>
      <h3>{{ (p.$key | playerBasicPipe | async)?.displayName }}</h3>
      <p>{{ p.description }}</p>
      <button ion-button icon-only clear class="disable-hover" item-right [ngStyle]="getMVPColorStyle(p.$key)">
        <ion-icon name="thumbs-up"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <button block secondary (click)="submit()">Submit</button>
</ion-content>