<ion-content>
  <!-- rate match -->
  <ion-list no-lines [hidden]="showMVP">
    <ion-item>
      <h2>STK <span danger>vs</span> EP Sport</h2>
      <p>Sunday, 2:47 PM</p>
    </ion-item>
    <ion-item>
      <ion-avatar item-left>
        <img src="img/test_avatar.jpg">
      </ion-avatar>
      <h3>Li Hao (<span primary>DMF</span>)</h3>
      <p>5 Goals, 10 Asists</p>
    </ion-item>
    <ion-item>
      <p text-center>Rate your referee</p>
      <p text-center no-padding>
        <button *ngFor="let i of starArray" ion-button icon-only clear class="disable-hover" 
                [ngStyle]="getStarColorStyle(i)"
                (click)="setRating(i)">
          <ion-icon name="star"></ion-icon>
        </button>
      </p>
    </ion-item>
  </ion-list>

  <!-- chose mvp -->
  <ion-list no-lines [hidden]="!showMVP">
    <ion-item>Vote for MVP</ion-item>
    <ion-item *ngFor="let p of candidates | async" (click)="setMVP(p.$key)">
      <ion-avatar item-left>
        <ion-img [src]="(p.$key | playerBasicPipe | async)?.photoURL"></ion-img>
      </ion-avatar>
      <h3>{{ (p.$key | playerBasicPipe | async)?.displayName }}</h3>
      <p>{{ p.description }}</p>
      <button ion-button icon-only clear class="disable-hover" item-right [ngStyle]="getMVPColorStyle(p.$key)">
        <ion-icon name="thumbs-up"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-row> 
        <ion-col text-center>
          <button full primary small (click)="back()">Back</button>
        </ion-col>
        <ion-col text-center>
          <button full secondary small>Submit</button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>