.player-avatar-bar {
  position: relative;
  margin-bottom: 0px;
  .bar {
    position: absolute;
    background: gainsboro;
    width: 80%;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .left {
      float: left;
      text-align: center;
      margin-left: 15px;
    }
    .right {
      float: right;
      text-align: center;
      margin-right: 15px;
    }
  }
  .avatar {
    position: relative;
    z-index: 0;
    border-radius: 50%;
    margin: auto;
  }
}

.player-title-text {
  color: #666362;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
}

.player-bold-text {
  font-weight: bold;
}

.player-header-decoration {
  border-left: 0.3rem solid #69d877;
}

.player-detail-border {
  border-left: 0.1rem solid #69d877;
}

.chart {display: block; width: 100%;}