<ion-header>
  <ion-navbar>
    <ion-segment [(ngModel)]="stats">
      <ion-segment-button value="teams" (click)="updateTeamSize()">
        Teams
      </ion-segment-button>
      <ion-segment-button value="players" (click)="updatePlayerSize()">
        Players
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<!--ion-content (swipeLeft)="swipeTo('players')" (swipeRight)="swipeTo('teams')"-->
<ion-content> 
  <div [ngSwitch]="stats">
    <div *ngSwitchCase="'teams'">
      <ion-list>
        <ion-item *ngFor="let t of afTeams | async | reverseAndCountTeamPipe : teamData" tappable (click)="goTeamPage(t.$key)" style="margin-bottom:20px">
          <ion-thumbnail item-left>
            <ion-img [src]="(t.$key | teamBasicPipe | async)?.logo"></ion-img>
          </ion-thumbnail>
          <h2 text-center>{{(t.$key | teamBasicPipe | async)?.name}}</h2>
          <ion-row>
            <ion-col>
              <p text-center><label><ion-icon name='football'></ion-icon>&nbsp;Matches</label></p>
              <p text-center>{{(t.$key | teamBasicPipe | async)?.totalMatches}}</p>
            </ion-col>
            <ion-col>
              <p text-center><label><ion-icon name='people'></ion-icon>&nbsp;Players</label></p>
              <p text-center><label>{{(t.$key | teamBasicPipe | async)?.totalPlayers}}</label></p>
            </ion-col>
            <ion-col>
              <p text-center><label><ion-icon name='flame' danger></ion-icon>&nbsp;Popularity</label></p>
              <p text-center><span secondary>{{t.popularity}}</span></p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="moreTeam($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngSwitchCase="'players'">
      <ion-list>
        <ion-item *ngFor ="let p of afPlayers | async | reverseAndCountPlayerPipe : playerData" tappable (click)="goPlayerPage(p.$key)" style="margin-bottom:10px">
          <ion-avatar item-left>
            <ion-img [src]="(p.$key | playerBasicPipe | async)?.photoURL"></ion-img>
          </ion-avatar>
          <ion-row center>
            <ion-col>
              <h2>{{(p.$key | playerBasicPipe | async)?.displayName}}</h2>
            </ion-col>
            <ion-col text-center>
              <p><span primary text-uppercase>{{(p.$key | playerDetailPipe | async)?.position}}</span></p>
            </ion-col>
            <ion-col text-center>
              <p text-center>
                <label>
                <ion-icon name='ios-flame' danger></ion-icon>&nbsp;Popularity: <span secondary>{{p.popularity}}</span>
              </label>
              </p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="morePlayer($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>