.login-content scroll-content{
  // background-image: url("../../img/test_me_bg.png");
  background-size:100% auto;
}

.login-connect{
  padding: 1.5rem;
}


.login-connect-btn{

}

.login-connect-btn-fb{

}

.login-connect-btn-wc{
  margin-top: 1.4rem;
}
