<ion-header>
  <ion-navbar>
    <ion-title>ME</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <!-- Me -->
    <ion-item-divider light></ion-item-divider>
    <ion-item (click)="goEditPlayerPage()" style="border-width:0px;" detail-push>
      <ion-avatar item-left>
        <ion-img [src]="(player | async)?.photoURL"></ion-img>
      </ion-avatar>
      <h2>{{ (player | async)?.displayName }}</h2>
    </ion-item>
    <ion-item (click)="goManageTeamPage()" *ngIf="(player | async)?.teamId" detail-push>
      <ion-avatar item-left>
        <ion-img [src]="((player | async)?.teamId | teamBasicPipe | async)?.logo"></ion-img>
      </ion-avatar>
      <h2>{{ ((player | async)?.teamId | teamBasicPipe | async)?.name }}</h2>
    </ion-item>

    <!-- show pages -->
    <ion-item-divider light></ion-item-divider>
    <ion-item (click)="goPlayerPage()" detail-push>
      <ion-icon name="md-aperture" item-left secondary></ion-icon>
      Homepage
    </ion-item>
    <ion-item (click)="goTeamPage()" *ngIf="(player | async)?.teamId" detail-push>
      <ion-icon name="md-people" item-left primary></ion-icon>
      My Team
    </ion-item>
    <ion-item (click)="showCreateTeamModel()" *ngIf="!(player | async)?.teamId">
      <ion-icon name="md-people" item-left primary></ion-icon>
      Create Team
    </ion-item>
    <ion-item-divider light></ion-item-divider>
    <ion-item (click)="goFeedbackPage()" detail-push>
      <ion-icon name="help" item-left gYellow></ion-icon>
      Feedback
    </ion-item>
    <ion-item (click)="onLogout()">
      <ion-icon name="md-exit" item-left danger></ion-icon>
      Logout
    </ion-item>
  </ion-item-group>

  <!--<button (click)="pushPage()">
       Go to OtherPage
     </button>-->
</ion-content>