.me {
}

//over ride
.item{
  padding-left: 0;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}

.me-self-info{
  position:relative;
  text-align: center;
}

.me-avatar{
  position:relative;
  text-align: center;
}

.me-avatar-img{
  margin: 0 auto;
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 3rem;
}


.me-team-default{
  float: left;
  width: 33.3%;
  text-align: center;
}

.me-team-default img{
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 2rem;
}

.me-team-switch{
}
.me-team-switch-icon{
  font-size:3em !important;
}

.me-team-add{

}
.me-team-add-icon{
  font-size:3em !important;
}
